[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-redis = "*"
python-dotenv = "*"
oxr-client = "*"
mockredispy = "*"


[dev-packages]

pytest = "*"
pylint = "*"
"autopep8" = "*"
pytest-cov = "*"
coverage = "*"
bpython = "*"
